html,
body {
    background: #000;
    color: white;
}

a {
    color: white;
}

h1 {
    font-size: 24px;
    font-weight: 700;
}

h2 {
    font-size: 1.5rem;
    font-weight: 700;
}

h3 {
    font-size: 1rem;
    font-weight: 700;
}

p {
    font-size: 0.75rem;
}
